@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300|Roboto+Slab:300,700,400);

.container{
  margin-top:30px;
}

/* Typography */
h3{
  text-transform: uppercase;
  /*font-size: 20px;*/
  font-size:16px;
  color: #939393;
  /*font-weight: 300;*/
}

h1, h2, h3{
  font-family: 'Oswald', sans-serif;
}

h1{
  font-size:60px;
}

h2{
  font-size: 22px;
  color: #8C8C8C;
}

a:hover{
  text-decoration: none;
  border-bottom: solid 1px;
}

/* Layout */
body{
  background: black url('/images/background.jpg') top center no-repeat;
  color: #D9D9D9;
  font: 18px/32px 'Roboto Slab', serif;

}

.center{
  text-align: center
}

#header.row{
  margin-bottom: 30px;
}

p.sub-head{
  font-style: italic
}

/*Forms*/
form a.cancel{
  padding-left: 10px;
}

form.definition-new{
  width:400px;
}

form .btn.btn-primary{
}

/* Generes SHOW */

.genre-list{
  margin-bottom: 35px;
}

.genre-list li{
  float: left;
  margin-right: 5px;
}

.genre-list li i.fa{
  font-size: 8px;
  position: relative;
  top: -2px;
  margin: 0 4px 0 10px;
  opacity: 0.5;
}

.genre-list li:last-of-type i.fa{
  display:none;
}

.add-subgenre.btn{
  display:inline-block;
  margin-top: 4px;
}

.genre>.row{
  margin-bottom: 40px;
}

.definition {
  background-color: rgba(234, 234, 234, 0.5);
  margin: 25px 0 30px;
  padding: 20px 30px 32px;
}

.definition.definition-top{
  /*background-color:#DDD;*/
}

.definition.definition-top i.fa-quote-left{
  opacity: 1;
}

.definition .body, .definition .examples{
  font-size: 18px;
}

.definition i.fa-quote-left{
  font-size: 36px;
  margin-left: -44px;
  margin-right: 10px;
  opacity: 0.25;
}

.definition .errata,  .definition blockquote{
  font-size:16px;
}

.definition blockquote{
  border-left-color:#DADADA;
}

.definition .byline{
  text-align: right;
}

.add-definition .lead{
  margin-bottom: 10px;
}
.add-definition .lead .btn{
  margin-left:5px;
}

/* Autocomplete */

.twitter-typeahead{
  width: 100%;
}

.tt-dropdown-menu{
  background: white;
  border: solid 1px #ccc;
  color: black;
  /*padding: 5px;*/
}

.tt-dropdown-menu .tt-suggestion, .tt-dropdown-menu .footer{
  padding: 8px 20px;
}

.tt-dropdown-menu .footer{
  /*font-style: italic;*/
}

.tt-dropdown-menu .footer a{
  font-weight: bold;
}

.tt-dropdown-menu .tt-suggestion b{
  /*color:;*/
}

.tt-dropdown-menu .tt-suggestion.tt-cursor{
  background-color: #666;
  color: white;
  cursor: pointer;
}

h1 img{
  margin-top: 35px;
}

.homepage-search input{
  background-color:white!important;
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
  font-weight:300;
  padding: 24px 18px;
}

.homepage-search, .row.after-search{
  margin-top: 100px;
}