extends layout

block head
  script(src='/js/controllers/genres-controller.js')

block content
  div(ng-controller='genresController' ng-init="initHomepage()")
    .row
      .col-md-12.center
        h1 Subgenre
        p.lead Defining the world's musicial oddities

    .row
      .col-md-12.center
        form(ng-submit)
          .form-group
            input.form-control(type="text" placeholder="Search for a Subenre like \"Bro Step\" or \"Cat Rock\"")

    .row
      .col-md-8
        ul
          li(ng-repeat='genreGroup in groupedGenres')
            a(href='/genres/{{genreGroup.parentGenre.slug}}') {{genreGroup.parentGenre.name}}
            ul
              li(ng-repeat='subGenre in genreGroup.subGenres')
                |{{subGenre.name}}

      .col-md-4
        .panel
          h4 Add Supergenre (Admin only)

          form(ng-submit='createGenre()')
            select(ng-model='parentGenre')
              option
              option(ng-repeat='genre in genres', value='{{genre._id}}') {{genre.name}}

            br

            input(type='text', placeholder='Name', ng-model='genreName')
            button(type='submit') Add Genre
