html(lang='', ng-app='subgenreApp')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Subgenre
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // <link rel="apple-touch-icon" href="apple-touch-icon.png">
    // Place favicon.ico in the root directory
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-resource.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
    script(src='/js/app.js')
    script(src='/js/controllers/genres-controller.js')
    link(rel='stylesheet', type='text/css', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/styles.css')

  body

    .container(ng-controller='genresController')
      .col-md-4.col-md-offset-2
        h1 Subgenre

        ul
          li(ng-repeat='genreGroup in groupedGenres')
            a(href='/genres/{{genreGroup.parentGenre.name}}') {{genreGroup.parentGenre.name}}
            ul
              li(ng-repeat='subGenre in genreGroup.subGenres')
                |{{subGenre.name}}

      .col-md-4
        .panel
          h4 Add Genre

          form(ng-submit='createGenre()')
            select(ng-model='parentGenre')
              option
              option(ng-repeat='genre in genres', value='{{genre._id}}') {{genre.name}}

            br

            input(type='text', placeholder='Name', ng-model='genreName')
            button(type='submit') Add Genre
