extends layout

block head
  script(src='/js/typeahead.jquery.js')
  script(src='/js/controllers/home-controller.js')


block content
  div(ng-controller='homeController' ng-init="initHomepage()")
    .row
      .col-md-12.center
        h1
          img(src="/images/genreist-homepage-logo.png" alt="Genreist - Be A Know-it-all" title="Genreist - Be A Know-it-all")

    .row
      .col-md-12.center
        form.homepage-search(ng-submit)
          .form-group
            input.typeahead.form-control(type="text" placeholder="Learn about a music genre like \"Bro Step\" or \"Cat Rock\"" ng-model="searchQuery")

    .row.after-search
      .col-sm-6.col-md-5
        h3 So What's All This, Then?
        p Think Wikipedia for music genres, then crank it up to eleven.
      .col-sm-6.col-md-7
        h3 Explore Some Genres
        ul
          li(ng-repeat='genre in parentGenres')
            a(href='/genres/{{genre.slug}}') {{genre.name}}

      //- .col-md-4
      //-   .panel
          //- h4 Add Supergenre (Admin only)

          //- form(ng-submit='createGenre()')
          //-   select(ng-model='parentGenre')
          //-     option
          //-     option(ng-repeat='genre in genres', value='{{genre._id}}') {{genre.name}}

          //-   br

          //-   input(type='text', placeholder='Name', ng-model='genreName')
          //-   button(type='submit') Add Genre

    #genre-form.modal.fade
      .modal-dialog
        .modal-content
          .modal-body
            form(ng-submit='createSubGenre()')
              .form-group
                label(for="name") What is the name of this Subgenre?
                input.form-control(type="text" name="name" ng-model="newGenre.name")
                p.help-block Skip the punctuation please (ex: Ska Punk over Ska-Punk)

              .form-group
                label(for="parent-genre") Pick a parent genre
                select(name="parent-genre" ng-model="newGenre.parentGenre")
                  option(ng-repeat="genre in parentGenres" value="{{genre._id}}") {{genre.name}}


              button.btn.btn-primary(type="submit") Save
              a.cancel(href='/') Cancel
