doctype html
html(ng-app='subgenreApp')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title Subgenre
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  // <link rel="apple-touch-icon" href="apple-touch-icon.png">
  script(src="//code.jquery.com/jquery-2.1.3.min.js")
  script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-resource.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
  script(src='/js/app.js')
  link(rel='stylesheet', type='text/css', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
  link(rel='stylesheet', type='text/css', href='/css/styles.css')
  link(rel="shortcut icon" type="image/png" href="/images/favicon.png")

  block head

body(class="#{typeof(controller) == 'undefined' ? '' : controller}")
  nav
    a(href="/")
      img(src="/images/genreist-logo-header-dark.png")
    .account
      if user
        a(href="/logout")
          img(src=user.photoUrl)
          | Sign out
      else
        a.btn.btn-primary.btn-sm(href="/auth/twitter")
          i.fa.fa-twitter
          | Sign in
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-sm-10.col-sm-offset-1
        block content

  br/
  #footer
    | Created with love and care by
    |  <a href="http://twitter.com/ccurtisj" target="_blank">@ccurtisj</a>
